<table>
    <thead>
        <tr>
            <th>Uid</th>
            <th>Google id</th>
            <th>Facebook id</th>
            <th>admin</th>
            <th>date_joined</th>
            <th>Braintdee id</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user[:uid] %></td>
            <td><%= user[:g_id] %></td>
            <td><%= user[:f_id] %></td>
            <td><%= user[:admin] %></td>
            <td><%= user[:date_joined] %></td>
            <td><%= user[:bt_id] %></td>
        </tr>
        <% end %>
    </tbody>
</table>